<h2>Users</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Role</th>
    <th>Groups</th>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.role.name %></td>
      <td>
<%= for group <- user.groups do %>
        <%= group.name %><br />
<% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
